body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f4f6f9;
}

nav {
  background-color: #004aad;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 12px;
  position: relative;
  bottom: 0;
  width: 100%;
}
